*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}
a
{
    text-decoration: none;
    color: rgb(54, 192, 227);
}
h1{
    margin-bottom: 48px;
    color: #424242;
    
}

h2
{
    margin-bottom: 12px;
    color:#353535;
  line-height: 1.6;
    font-size: 1.5rem;
    font-weight: 600;
}
 p{
    margin-bottom: 30px;
    color: #666;
    word-spacing: 7px;
    line-height: 1.75;

}

/*-----header------*/
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 350px;
    box-shadow: 2px 1px 2px #eee;
    background-color: #fff;  
    padding: 20px;
    top:0;
    /* position: fixed; */
}
header
{
    position: fixed;
    width: 100%;
}
.navbar .logo-img {
    max-height: 17px;
    vertical-align: middle;
    position: relative; 
    margin-left: 71px;
}
img {
    max-width: 100%;
}
.menubar {
    margin-right: 228px;
}
.menubar ul
{
    display: flex;
    list-style: none;
    gap: 49px;       
}
.menubar a{
    
    text-decoration: none;
    color: #666;
    font-family: sans-serif;
}
.menubar a:hover
{
    color: rgb(54, 192, 227);
}
/*-------hero-------*/

.hero_img {
    justify-content: center;
    align-items: center;
    display: flex;
}
.hero_img img{
    width: 900px;
        margin-top: 12px;
        
}

/*--------section-1------------*/
.section-1 {
    padding: 0 140px;
    /* align-items: center; */
    text-align: center;
    font-family: sans-serif;
    color: #666;
}

input#Signupbtn {
    height: 59px;
    width: 230px;
    font-size: larger;
    background-color: royalblue;
    color: white;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
}
input#Signupbtn:hover{
    background-color: black;
}

/*--------section 2------------*/
.section-2
{
    display:flex;
    justify-content: space-between;
    padding: 0 140px;
    margin-top: 120px;
    gap: 40px;
    
    
    font-family: sans-serif;
}

.section-2-left {
    margin-left: 110px;
}


.section-2-right {
    margin-right: 110px;
}
.section-2-right img
{
    width: 1238px;
    height: 730px;
}
.section-2-right a
{
    text-decoration: none;
    color: rgb(54, 192, 227);
}
.image-section
{
        display: flex;
    justify-content: center;
    margin-left: 80px 0;
    padding-top: 85px;
}

/*-----pricing ----*/
.pricing
{
    font-family:sans-serif ;
    color: #666;
    display: flex;
    padding: 0 140px;
    margin-top: 120px;
    justify-content: space-between;
}
.price-left
{
    width: 400px;
}

.column1
{
    display: flex;
}
.column1 img {
    width: 120px;
    display: inline-block;
}
.column1 p{
   font-size: small;
   align-self: center;
  
}
/*------ section varsity--------*/
.varsity {
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
    margin-top: 135px;
    gap: 140px;
    margin-right: 63px;
    padding-bottom: 100px;
}
.varsity-img img {
    width: 706px;
}
/*----footer------*/
footer
{
    padding-top: 70px;
}
.footer
{
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9d2;
    border-top: #66666669;
    padding-top: 40px;
}
.footer h3{
    color:#424242;
    font-family: sans-serif;
    font-weight: 300;

}
.footer ul
{
    list-style: none;
   padding-top: 20px;
    
}
.footer ul li a{
    color: #5b5b5b;
    line-height: 2;
    

}

.footer a:hover{
    color: rgb(54, 192, 227);
}
.media .logo img{
    height:20px;
}
.media p {
    font-size: small;
    margin-bottom: auto;
    line-height: 2;
}
.media ul
{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 10px 0;
    color:#5b5b5b
} 
.media ul li{
    height: 20px;  padding:0 8px;
}
.media ul li:hover
{
    color: rgb(54, 192, 227);
}

/*******sign up page ********/
.signup-intro h1{
    font-weight: 400;
    margin-bottom: 15px;
 }

 .signup-intro h3{
    color: #9b9797fa;
    font-weight: 300;
    margin-top: 16px;
 }
 .signup-intro
 {
    text-align: center;
    padding-top:20vh;
    margin-bottom: 5vh;
 }
 .form
 {
    display: flex;
       padding: 41px 249px

 }
 .form .form-left img{
       width: 70vh;
 }
.form-right {
    padding-left: 43px;
    padding-top: 25px;
}
.form-right p
{
    margin-bottom: 14px;
}
 .form .form-right form input[type="tel"] {
    font-size: large;
    position: relative;
    width: 18vw;
    height: 7vh;
    border-color: #a6a5a557;
    border: 1px solid #a6a5a557 ;
    top: 4px;
    left: 75px;
}

.span-1{
   
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;
    align-items: center;
}
.span-1 .mobile-prefix {
    position: absolute;
    border-radius: 2px;
    border: 1px solid #a6a5a557;
    padding: 14px 11px 13px 11px;
    color: #424242;
    border-right: 1px solid #d1d1d1;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 7vh;
    margin-top: 7px;
}

input#otpbtn {
    height: 7vh;
    width: 16vw;
    font-size: larger;
    background-color: royalblue;
    color: white;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    margin-bottom: 30px;
}
input#otpbtn:hover{
    background-color: black;
}

.policy-terms
{
    color: rgb(102, 102, 102);
    font-size: smaller;
margin-bottom: 30px;
}
.NRI{
    color: rgb(102, 102, 102);
    font-size: smaller;
}

/* ***** investment options */

section.account-open-investmet-options {
    padding: 8vh;
    padding-left: 24vh;
    padding-right: 23vh;
}

.investmet-options
{
    display: flex;
    justify-content: space-around;
   display: flex;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    gap: 46px 69px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 140px;
    padding-right: 140px;
    flex-wrap: wrap;
}
.option
{
   display: flex;
    width: 26vw;
    justify-content: space-between;
    gap: 35px;
}

.account-open-investmet-options h1 {
    margin-bottom: 12px;
   
    font-weight: 500;
    font-size: 29px;  
    text-align: center;
    padding-bottom: 8vh;
}

.option h3{
    color: #353535;
    font-weight: 500;
}

input#ExploreInvestmentbtn {
    height: 7vh;
    width: 16vw;
    font-size: larger;
    background-color: royalblue;
    color: white;
    margin-top: 7vh;
    border: none;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: 59vh;
}

/* steps to open demat account */
.open-demat-ac
{
     background-color: #fafafb;
}

.step-open-heading h2{
    margin-bottom: 12px;
    padding-top: 8vh;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
    padding-bottom: 8vh;

}
.steps-open-demat-ac
{
    display: flex;
    justify-content: center;
    padding-bottom: 10vh; 
}
.steps-open-demat-ac .step-img img {
   width: 30vw;
    height: 30vh;
}

.step-no {
    
    display: flex;
    gap: 20px;
   
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-top: 15px;
    width: 28vw;
}
input#ExploreInvestmentbtn:hover{
    background-color: black;
}

.no {
    height: 4vh;
    border-radius: 18px;
    border:rgb(221, 221, 221) solid 1px;
    width: 4vh;
    align-content: center;
    text-align: center;
    font-weight:200 ;
    margin-top: 4px;
    
}
.no h4 {
    font-weight: 100;
    color: #353535;
}
.step
{
    
    display: inline-block;
    font-size: 1.3rem;
    
    line-height: 1.8;
    margin-bottom: 15px;
    font-weight: 500;
    margin-left: 15px;
}

/* *****benefits***** */

.benefits-demat-ac .benefit-img img{
    width: 30vw;
    margin-top: 20vh;
}

.benefits-demat-ac
{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 50px;
    padding-top: 15vh;
}
.benefits
{

    width: 37vw;
}

.benefits h3
{
font-size: 20px;
line-height: 1.6;
margin-top: 0px;
 font-weight: 500;
margin-bottom: 20px;
}

/* ***account types**** */
section.different-account-types {
    margin-top: 16vh;
    margin-bottom: 16vh;
}
.diff-ac-types-heading h2{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}

.account-types
{
    display: flex;
    justify-content: center;
    gap:45px;
    margin-top: 8vh;
    margin-bottom: 8vh;
}
.ac-type
{
    width: 22vw;
    height: 17vh;
    text-align: left;
    margin-bottom: 5vh;
}
.ac-type .acop-type-card:hover
{
    border-color:#387ed1 ;
}
.account-types h3
{
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 20px;
}
.acop-type-card
{
    display: inline-block;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 22px;
    position: relative;
}
.account-types .acop-type-card img{
    position: absolute;
    left: -18px;
    background-color: #eff6ff;
    border-radius: 50%;
    padding: 6px;
}
/*FAQ  */
section.FAQ {
    margin-bottom: 12vh;
}
.FAQ h2{
    margin-left: 18vh;
}
.question {
    margin: 0 140px;
}
.faq-item
{
    
    border: 1px solid #ddd;
}
.blue-line
{
    height: 4px;
    width: 10%;
    background-color: #387ed1;
    transition: width 1s ease;
}
/* hover effect */
.faq-item:hover .blue-line
{
    width: 15%;
}
.faq-question {
    cursor: pointer;   
    display: flex;
    justify-content: space-between;
    align-items: center;  
    font-weight: 400;
    color:#424242;
    padding-top: 4vh;
    padding-bottom: 4vh;   
}
.icon-arrow i{
    color: #666;
    transition: transform 1s ease;
} 
.faq-answer
{
    overflow: hidden;
    max-height: 0;
    transition:max-height 0.4s ease;
    padding: 0;
    padding: 0;
    color: #666;
    line-height: 1.5;
}

.faq-item.active .faq-answer
{
    margin-top: 10px;
    max-height: 300px;
}
.faq-item.active .icon-arrow
{
    transform: rotate(180deg);
}
.faq-answer ul{
    color: #666;
    list-style: circle;
}


/* about us page CSS */
.about-intro {
    padding-top: 20vh;
    padding-left: 65vh;
}
section.about-summery {
    display: flex;
    justify-content: space-between;
    gap: 9vh;
    margin-top: 18vh;
    margin-left: 20vw;
    margin-right: 20vw;
    color:#424242;
    padding-top: 12vh;
    border-top: #d1d1d1 1px solid;
}
.summery-left {
    width: 62%;
}
.summery-right {
    width: 54%;
}
.about-summery p{
    color: #353535;
}
/* ppeople */
.about-people h2 {
    text-align: center;
    margin-top: 16vh;
    color: #383838;
}
.ceo {
    display: flex;
    margin: 55px 175px 72px 192px;
    justify-content: space-evenly;
}
.ceo-info {
   
    justify-content: center;
    align-content: center;
    
}
.ceo-info img {
    height: 36vh;
    margin-bottom: 10px;
    border-radius: 100%;
}

.ceo-info h5 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 8px;
    text-align: center;
}
.ceo-info p {
    text-align: center;
    
}
.ceo-about {
    width: 47%;
    padding-top: 40px;
}
.ceo-about p {
    margin-bottom: 20px;
    color: #424242;
}

.employee-img
{
     text-align: center;
}
.employee-img h5{
    margin-top: 2vh;
    font-size: large;
    color: #424242;
}
.employee-img p{
    margin-bottom: 10px;
}
.employee-img img {
    height: 30vh;
    border-radius: 100%;
   
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: -8px;   
    flex-wrap: row wrap;
    flex-shrink: none;
    margin-right: 140px;
    margin-left: 224px;
    align-items: center;
    row-gap: 60px;
}
.bio {
    overflow: hidden;
    max-height: 0;
    transition:max-height 0.4s ease;
    padding: 0;
    padding: 0;
    color: #666;
    text-align: left;
}
.bio-arrow i{
    transition: transform 1s ease;
    color: #666;
 }
.employee-img.active .bio{
    margin-top: 10px;
    max-height: 300px;
    width: 18vw;
    margin-left: 86px;
}
.employee-img.active .bio-arrow i
{
    transform: rotate(180deg);
}
.bio-arrow
{
    font-size: small;

}

/* products */
section.product-sec-first {
    padding-top: 20vh;
    text-align: center;
    padding-bottom: 10vh;
    border-bottom: #d1d1d1 1px solid;
    width: 66vw;
    margin-left: 225px;
}
.product-sec-first h1{
    color: #424242;
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 500;
    margin-bottom: 20px;
}
p.sub-heading{
    font-size: larger;
    font-weight: 400;
    margin-top: 10px;
    color: #424242;
}

.product-sec-first p{
  
    line-height: 1.8;
    margin-bottom: 15px;
}

.product {
    display: flex;
    justify-content: center;
    gap: 174px;
    padding-top: 13vh;
    margin-bottom: 4vh;
    
}
.product-info {
    width: 23%;
    color: #444;
    margin-top: 22px;
    align-content: center;
}
.product-info a {
    margin-right: 65px;
}
.product-info img {
    margin-right: 21px;
    height: 47px;
}
p.landing-subheading {
    margin-top: 12vh;
    text-align: center;
    font-size: larger;
    color: #424242;
}
.zerodha-universe {
    margin-top: 8vh;
    text-align: center;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 10vh;
}
.zerodha-universe h1{
    color: #424242;
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 500;
    margin-bottom: 10px;
}

.universe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 88px;
    margin-top: 9vh;
    margin-bottom: 8vh;
}
.content img {
    height: 9vh;
    width: 12vw;
}
.content span {
    color: #9b9b9b;
    font-size: 0.75rem;
   
}

/* pricing */
section.charge-heading {
    padding: 22vh 35vw;
    /* align-content: center; */
    text-align: center;
}
.charge-heading h1
{
    margin-bottom: 10px;
    font-weight: 500;
}
.charge-heading p{
    color: #666;
}

.price img {
    height: 25vh;
}
section.tax {
    display: flex;
    padding: 3px 21vh;
    justify-content: space-between;
    gap: 52px;
    text-align: center;
    margin-bottom: 8vh;
}
.price {
    width: 49%;
}
